
/* import Edu NSW ACT Foundation  / font-family: "Edu NSW ACT Foundation" */
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap');

/* padding/border included in elements total width/height */
* {
    box-sizing: border-box;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px 10px; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: #dacaca;
    z-index: 1000; /* Always on yop */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* minor transparency */
    border-bottom: 1px solid #000; /* small border on bottom */
}


nav ul {
    display: flex; 
    justify-content: center; 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 10px; 
}

nav ul li a:hover {
    text-decoration: underline;
}


/* general styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

form {
    max-width: 600px; 
    margin: 60px auto; 
    padding: 20px; 
    background: rgba(243, 243, 243, 0.85); /* Transparent form*/
    border-radius: 10px; /* rounded corner */
}

label {
    display: block; 
    margin-top: 10px; 
}


/* Input form */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
textarea {
    width: 100%; 
    padding: 8px; 
    margin-top: 5px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}


/* Submit button */
input[type="submit"] {
    background-color: #4e0707; 
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; /* style button with soft corners */
    cursor: pointer; /* change mouse to cursor */
    margin-top: 20px; 
}

input[type="submit"]:hover {
    background-color: #000000; /* Darker color when hovering */
}



#navbar {
    font-size: 100%;
    letter-spacing: 5px;
    list-style-type: none;
}

/* Hero image */
.hero {
    min-height: 200px;
    width: 100%;
    background: url("../images/welcomep.jpg") no-repeat center center/cover;
    position: relative;

}

/* Hero image text */
.hero-text {
    position: absolute;
    font-family: "Edu NSW ACT Foundation", Arial;
    font-size: 35px;
    top: 77%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: #dacaca;
    text-align: center;
    background-color: rgba(54, 30, 30, 0.5); /* Transparency */
    width: 200px;
    line-height: 0.1; /* High of text background */
}


/* table image, form background */
.table-image {
    min-height: 200px;
    width: 100%;
    background: url("../images/table.jpg") no-repeat center center/cover;
    position: relative;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* box shadow */
    margin-top: 0;
    
}

.hero, .table-image {
    border-radius: 0; /* no rounded corners on table and hero image */
}

main {
    flex: 1;
    margin-top: 1px; /* Adjust margin to navbar */
    border-top: 1px solid #cccccc; /* Solid border */
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1); /* border shadow*/
}



/* Footer styling */
footer {
    background: rgba(51, 51, 51, 0.8); /* 80% transparency */
    color: white; 
    text-align: center;
    padding: 5px 0;
    border-top: 1px solid #cccccc; /* Solid border */
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1); /* border shadow*/
}

/* food menu styling */
.menu-grid {
    font-family: "Edu NSW ACT Foundation", Arial; /* food menu font */
    display: grid;
    grid-template-columns: 1fr 1fr; /* to equal columns */
    grid-template-rows: auto auto; /* two rows with height adjustment */
    gap: 10px; /* space between rows */
    padding: 20px;
    background-color: #4e0707;
    margin-top: 0;
}



section {
    background-color: rgba(255, 255, 255, 0.5); /* Transparency */
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* box shadow */
}

h2 {
    color: #333;
    margin-bottom: 15px; /* Separate h2 from items */
}

ul {
    list-style: none; /* No list markings */
    padding: 0;
}

li {
    margin-bottom: 10px; /* Space between list items */
    font-size: 16px;
}

/* font icons */
.fa-solid, .fa-brands {
    margin-right: 5px;
    color: #000000; 
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* prevent text from breaking */
    border: 0;
}


/* Dosnt change flex direction for small screens */
@media screen and (max-width: 576px) {
    nav ul {
        flex-direction: row; /* make navbar in rows */
    }

    nav ul li a {
        padding: 2px; /* nav links padding */
        margin: 0 -1px; 
    }

    form {
        max-width: 90%; /* form width */
        margin: 20px auto; /* Center form with margin over and uynder */
        padding: 10px; /* margin to corners */
    }

    /* adjust input forms */
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"],
    input[type="time"],
    textarea {
        width: 100%; /* input box width*/
        margin: 10px 10; 
        padding: 8px; 
    }

    /* Submit button */
    input[type="submit"] {
        width: 100%; 
        margin: 10px auto; 
        padding: 8px; 
    }

    .menu-grid {
        grid-template-columns: 1fr; /* One column on smaller screens */
    }

    .hero-text {
        left: 30%; /* position of Hero-text on small screens */
    }
}


