
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px 10px; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000; /* Always on yop */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* minor transparency */
    border-bottom: 2px solid #000; /* small border on bottom */
}


nav ul {
    display: flex; /* Behåller länkarna horisontellt */
    justify-content: center; /* Centrerar länkarna i nav */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-left: 10px; /* margin between links */
}

nav ul li a {
    color: black;
    text-decoration: none; /* remove underscore */
}

nav ul li a:hover {
    text-decoration: underline; /* Underscore menu links when hovering */
}


/* general styling */
body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

form {
    max-width: 600px; 
    margin: auto; 
    padding: 20px; 
    background: #f3f3f3; 
    border-radius: 10px; /* rounded corner */
}

label {
    display: block; 
    margin-top: 10px; 
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
textarea {
    width: 100%; 
    padding: 8px; 
    margin-top: 5px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

/* Submit button */
input[type="submit"] {
    background-color: #007bff; 
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; /* style button with soft corners */
    cursor: pointer; /* change mouse to cursor */
    margin-top: 20px; 
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Darker color when hovering */
}



#navbar {
    font-size: 100%;
    letter-spacing: 5px;
    list-style-type: none;
}

/* Hero image */
#hero {
    height: 200px;
    width: 100%;
    background: url("../images/welcomep.jpg") no-repeat center center/cover;
    position: relative;
}

/* Hero text */
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

main {
    flex: 1;
    margin-top: 20px; /* Justera detta värde baserat på navens höjd */
    
}

/* Footer styling */
footer {
    background: rgba(51, 51, 51, 0.8); /* 80% transparency */
    color: white; 
    text-align: center;
    padding: 15px 0;
}

/* Bas styling som redan finns ovan */

@media screen and (max-width: 600px) {
    nav {
        /* Lägg till eller justera stilar för 'nav' för små skärmar här */
        padding-top: 10px; /* Justera enligt behov */
        padding-bottom: 10px; /* Justera enligt behov */
    }

    nav ul {
        flex-direction: column;
        align-items: center; /* Centrerar länkarna om nav bredden är 100% */
        padding: 0;
    }

    nav ul li {
        display: block; /* Säkerställer att varje länk tar upp en egen rad */
        margin: 5px 0; /* Ger lite utrymme mellan varje länk */
    }

    nav ul li a {
        display: block; /* Gör länkarna blocknivå för att fylla ut deras container */
        text-align: center; /* Centrerar texten inom varje länk */
    }

    /* Andra anpassningar för små skärmar */
}
